<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/index.css">
    <title>Yeshua | Course Registration</title>
</head>
<body>
    <div class="dashboardMainContainer flex">
        <div class="menuPanel">
            <div class="menuPanelContent">
                <div class="profile">
                    <div class="profilePhoto">
                        <img src="/ASSETS/profile.png" alt="">
                    </div>
    
                    <p class="blueTxt">20GHUJ099</p>
    
                </div>
    
                <div class="menuItems">
                    <ul class="menu flex column">
                        <li class="flex"><div class="iconSz24"><img src="/ASSETS/Category.png" alt="icon"></div><a class="blueTxt capitalize" href="#">dashboard</a></li>
                        <li class="flex"><div class="iconSz24"><img src="/ASSETS/user.png" alt="icon"></div><a class="blueTxt capitalize" href="#">profile</a></li>
                        <li class="flex"><div class="iconSz24"><img src="/ASSETS/announcement.png" alt="icon"></div><a class="blueTxt capitalize" href="#">announcements</a></li>
                        <li class="flex highlight"><div class="iconSz24"><img src="/ASSETS/courseReg.png" alt="icon"></div><a class="blueTxt capitalize" href="#">course registration</a></li>
                        <li class="flex"><div class="iconSz24"><img src="/ASSETS/calendar.png" alt="icon"></div><a class="blueTxt capitalize" href="#">view results</a></li>
                        <li class="flex"><div class="iconSz24"><img src="/ASSETS/note-text.png" alt="icon"></div><a class="blueTxt capitalize" href="#">pay fees</a></li>
                        <li class="flex"><div class="iconSz24"><img src="/ASSETS/calendar.png" alt="icon"></div><a class="blueTxt capitalize" href="#">tranfer form</a></li>
                        <li class="flex"><div class="iconSz24"><img src="/ASSETS/note-text.png" alt="icon"></div><a class="blueTxt capitalize" href="#">siwes placement</a></li>
                        <li class="flex"><div class="iconSz24"><img src="/ASSETS/note-text.png" alt="icon"></div><a class="blueTxt capitalize" href="#">submit complaint</a></li>
                        <li class="flex"><div class="iconSz24"><img src="/ASSETS/note-text.png" alt="icon"></div><a class="blueTxt capitalize" href="#">lecturer review</a></li>
                        <li class="flex"><div class="iconSz24"><img src="/ASSETS/logout.png" alt="icon"></div><a class="blueTxt capitalize" href="#">log out</a></li>
    
                    </ul>
                </div>
            </div>
        </div>

        <div class="dashboard">
            <div class="panel flex">
                <div class="schoolNameLogo flex center">
                    <div class="logo">
                        <img src="/ASSETS/logo.png" alt="">
                    </div>
                    <h1 class=" blueTxt capitalize">university of yeshua</h1>
                </div>

                <div class="panelIcons flex center">
                    <div class="notificationIcon iconSz36"><img src="/ASSETS/notifications.png" alt="icon"></div>
                    <div class="settingsIcon iconSz36"><img src="/ASSETS/settings.png" alt="icon"></div>
                </div>
            </div>

            <div class="overviewPanel">
                <div class="navigation flex">
                    <div class="navigationName flex">
                        <h6 class="capitalize lgtBlueTxt">dashboard</h6>
                        <div class="arrowIcon"><img src="/ASSETS/arrow.png" alt="icon"></div>
                        <h6 class="capitalize whtTxt">overview</h6>
                    </div>

                    <div class="course">
                        <h6 class="capitalize whtTxt">Programme: <span>B.Sc Communication And Information Science</span></h6>
                    </div>
                </div>


                <div class="userOverview">
                    <div class="userDetails flex center">
                        <h1 class="capitalize whtTxt">Welcome, Makkiya Dunnis Samuel</h1>

                        <div class="lastVisited">
                            <h6 class="capitalize whtTxt">Wed July 02 2025</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dashboardContents">
                <div class="courseSummaryContainer">
                    <div class="courseNotificationContainer">
                        <div class="notificationHeader drkYellowBg">
                            <h2 class="capitalize">notification</h2>
                        </div>
                        <div class="notificationContainerContent">
                            <p>
                                Consult with your Course Advisor before you submit your registrations. 
                                All registrations are to be made before the deadline.
                            </p>
                        </div>
                    </div>

                    <div class="courseSummary flex">
                        <div class="courseDeadline">
                            <label class="blueTxt capitalize">registration deadline</label>
                            <p class="blueTxt capitalize">march 8, 2025</p>
                        </div>

                        <div class="minTotalUnits">
                            <label class="blueTxt capitalize">minimum total units allowed</label>
                            <p class="blueTxt capitalize">18</p>
                        </div>

                        <div class="maxTotalUnits">
                            <label class="blueTxt capitalize">maximum total units allowed</label>
                            <p class="blueTxt capitalize">march 8, 2025</p>
                        </div>

                        <div class="registrationStatus flex column">
                            <label class="blueTxt capitalize">registration status</label>
                            <button class="btn greenBtn capitalize">active</button>
                        </div>
                    </div>
                </div>

                <div class="courseList">
                    <h2 class="blueTxt capitalize">compulsory courses</h2>
                    <div class="courseListItems">
                        <table>
                            <thead>
                                <tr>
                                    <th class="capitalize">course title</th>
                                    <th class="capitalize">course code</th>
                                    <th class="capitalize">course unit</th>
                                    <th class="capitalize">status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="courseName flex">
                                            <label class="courseCustomCheckbox">
                                                <input type="checkbox">
                                                <span class="checkpoint"></span>
                                            </label>

                                            <p class="blueTxt capitalize">computer human and interaction</p>

                                        </div>
                                    </td>
                                    <td class="uppercase">csc 301</td>
                                    <td>3</td>
                                    <td><button class="btn drkYellowBtn">pending</button></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="courseName flex">
                                            <label class="courseCustomCheckbox">
                                                <input type="checkbox">
                                                <span class="checkpoint"></span>
                                            </label>

                                            <p class="blueTxt capitalize">computer human and interaction</p>

                                        </div>
                                    </td>
                                    <td class="uppercase">csc 301</td>
                                    <td>3</td>
                                    <td><button class="btn drkYellowBtn">pending</button></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="courseName flex">
                                            <label class="courseCustomCheckbox">
                                                <input type="checkbox">
                                                <span class="checkpoint"></span>
                                            </label>

                                            <p class="blueTxt capitalize">computer human and interaction</p>

                                        </div>
                                    </td>
                                    <td class="uppercase">csc 301</td>
                                    <td>3</td>
                                    <td><button class="btn drkYellowBtn">pending</button></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="courseName flex">
                                            <label class="courseCustomCheckbox">
                                                <input type="checkbox">
                                                <span class="checkpoint"></span>
                                            </label>

                                            <p class="blueTxt capitalize">computer human and interaction</p>

                                        </div>
                                    </td>
                                    <td class="uppercase">csc 301</td>
                                    <td>3</td>
                                    <td><button class="btn drkYellowBtn">pending</button></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="courseName flex">
                                            <label class="courseCustomCheckbox">
                                                <input type="checkbox">
                                                <span class="checkpoint"></span>
                                            </label>

                                            <p class="blueTxt capitalize">computer human and interaction</p>

                                        </div>
                                    </td>
                                    <td class="uppercase">csc 301</td>
                                    <td>3</td>
                                    <td><button class="btn drkYellowBtn">pending</button></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="courseName flex">
                                            <label class="courseCustomCheckbox">
                                                <input type="checkbox">
                                                <span class="checkpoint"></span>
                                            </label>

                                            <p class="blueTxt capitalize">computer human and interaction</p>

                                        </div>
                                    </td>
                                    <td class="uppercase">csc 301</td>
                                    <td>3</td>
                                    <td><button class="btn drkYellowBtn">pending</button></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="courseName flex">
                                            <label class="courseCustomCheckbox">
                                                <input type="checkbox">
                                                <span class="checkpoint"></span>
                                            </label>

                                            <p class="blueTxt capitalize">computer human and interaction</p>

                                        </div>
                                    </td>
                                    <td class="uppercase">csc 301</td>
                                    <td>3</td>
                                    <td><button class="btn drkYellowBtn">pending</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="courseSummary flex">
                            <div class="btn lgtBlueBtn addElectivesBtn flex">
                                <span>add electives</span>
                                <div class="addIcon iconSz24">
                                    <img src="/ASSETS/add.png" alt="icon">
                                </div>
                            </div>

                            <div class="courseApplied flex">
                                <p class="capitalize">courses applied</p>
                                <div class="box"><p>8</p></div>
                            </div>

                            <div class="totalUnits flex">
                                <p class="capitalize">total units</p>
                                <div class="box"><p>21</p></div>
                            </div>
                        </div>
                        <p>Please, confirm courses selected and their corresponding units</p>
                        <button class="btn blueBtn submitCourseReg flex">submit registration</button>
                    </div>
                </div>



            </div>
        </div>
    </div>
    
</body>
</html>