<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/index.css">
    <title>AMS | Login</title>
</head>
<body>
    <section class="loginSectionContainer">
        <div class="loginContainer flex center">
            <div class="heroSectionImg">
                <img src="/ASSETS/Hero Image.png" alt="School Image">
            </div>

            <div class="loginFormContainer flex column center">
                <div class="logo">
                    <img src="/ASSETS/logo.png" alt="School Logo">
                </div>
                <div class="form">
                    <form action="#">
                        <h2 class="capitalize">welcome</h2>
                        <h1 class="blueTxt">UNIVERSITY OF YESHUWA</h1>
    
                        <div class="textInput flex column">
                            <div class="matricInput flex column">
                                <label for="">Matriculation Number</label>
                                <input class="input" type="text" placeholder="Enter Matriculation Number">   
                            </div>

                            <div class="passwordInput flex column">
                                <label for="">Password</label>
                                <input class="input" type="password" placeholder="Password">    
                            </div>
        
                        </div>
    
    
                        <div class="loginOptions flex">
                            <!-- <div class="rememberMe">
                                <input type="checkbox" name="remeberMe" id="rememberMe">
                                <label for="">Keep me signed in</label>
                            </div> -->

                            <div class="rememberMe">
                                <label class="custom-checkbox">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                    Keep me signed in
                                </label>
                            </div>
    
                            <a class="blueTxt" href="#">Forgot password?</a>
                        </div>

                        <button class="btn loginBtn blueBtn">login</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>