<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/index.css">
    <title>AMS | Reset Password</title>
</head>
<body>
    <section class="loginSectionContainer">
        <div class="loginContainer flex center">
            <div class="heroSectionImg">
                <img src="/ASSETS/Hero Image.png" alt="School Image">
            </div>

            <div class="loginFormContainer flex column center center">
                <div class="logo">
                    <img src="/ASSETS/logo.png" alt="School Logo">
                </div>
                <div class="form">
                    <form action="#">
                        <h2 class="capitalize">reset password</h2>
                        <p>You're a step away from accessing your portal!</p>
    
                        <div class="textInput flex column">
                            <div class="passwordInput flex column">
                                <label for="">New Password</label>
                                <input class="input" type="password" placeholder="Please enter your new password">    
                            </div>

                            <div class="passwordInput flex column">
                                <label for="">Confirm Password</label>
                                <input class="input" type="password" placeholder="Please confirm your new password">    
                            </div>
        
                        </div>
    
                        <button class="btn loginBtn blueBtn">Update Password</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>