@using src.Enums
@using src.ViewModels
@model CreateCourseViewModel

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" type="text" class="form-control" placeholder="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CourseCode">CourseCode</label>
        <input asp-for="CourseCode" type="text" class="form-control" placeholder="CourseCode">
        <span asp-validation-for="CourseCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Unit">Credit Units</label>
        <input asp-for="Unit" type="text" class="form-control" placeholder="Credit unit">
        <span asp-validation-for="Unit" class="text-danger"></span>
    </div>
    <div class="form-group mt-3 mb-3">
        <label asp-for="CourseCategory">CourseCategory</label>
        <select asp-for="CourseCategory" asp-items="@Html.GetEnumSelectList<CourseCategory>()">
            <option>Select</option>
        </select>
        <span asp-validation-for="CourseCategory" class="text-danger"></span>
    </div>
    @* <div class="form-group">
        <label asp-for="Lecturer.FullName">Lecturer Name</label>
        <input asp-for="Lecturer.FullName" type="text" class="form-control" placeholder="Lectuer Name">
        <span asp-validation-for="Lecturer.FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Lecturer.Email">Lecturer Email</label>
        <input asp-for="Lecturer.Email" type="email" class="form-control" placeholder="Email">
        <span asp-validation-for="Lecturer.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Lecturer.Department">Lecturer Department</label>
        <input asp-for="Lecturer.Department" type="text" class="form-control" placeholder="Department">
        <span asp-validation-for="Lecturer.Department" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Lecturer.Gender">Gender</label>
        <input asp-for="Lecturer.Gender" type="text" class="form-control" placeholder="Gender">
        <span asp-validation-for="Lecturer.Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Lecturer.DOB">Date Of Birth</label>
        <input asp-for="Lecturer.DOB" type="date" class="form-control" placeholder="DOB">
        <span asp-validation-for="Lecturer.DOB" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Lecturer.Nationality">Nationality</label>
        <input asp-for="Lecturer.Nationality" type="text" class="form-control" placeholder="Nationality">
        <span asp-validation-for="Lecturer.Nationality" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Lecturer.StateOfOrigin">State Of Origin</label>
        <input asp-for="Lecturer.StateOfOrigin" type="text" class="form-control" placeholder="State Of Origin">
        <span asp-validation-for="Lecturer.StateOfOrigin" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Lecturer.LGA">Local Government Area</label>
        <input asp-for="Lecturer.LGA" type="text" class="form-control" placeholder="LGA">
        <span asp-validation-for="Lecturer.LGA" class="text-danger"></span>
    </div> *@
    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-controller="Course" asp-action="Index">Back</a>
</form>