@{
    ViewData["Title"] = "Generate Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dashboardContents">
    <div class="invoiceContainer flex column">

        <h2 class="blueTxt">Select section to generate fees</h2>

        <div class="selectContainer flex column">
            <label class="capitalize">select section</label>
            <select name="" id="">
                <option value="sumn">2024/25</option>
                <option value="sumn">2024/25</option>
                <option value="sumn">2024/25</option>
            </select>
        </div>

        <a asp-controller="Payment" asp-action="FeesBreakdown" class="btn blueBtn submitCourseReg flex">generate fees</a>
    </div>
</div>