@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/CustomCss/index.css">
    <title>Yeshua | Dashboard</title>
</head>
<body>
    <div class="dashboardMainContainer flex">
        <div class="menuPanel">
            <div class="menuPanelContent">
                <div class="profile">
                    <div class="profilePhoto">
                        <img src="/ASSETS/profile.png" alt="">
                    </div>

                    <p class="blueTxt">20GHUJ099</p>

                </div>

                <div class="menuItems">
                    <ul class="menu flex column">
                        <!-- Dashboard -->
                        <li class="flex highlight">
                            <div class="iconSz24">
                                <img src="~/ASSETS/Category.png" alt="Dashboard icon">
                            </div>
                            <a class="blueTxt capitalize" asp-controller="Student" asp-action="Index">dashboard</a>
                        </li>

                        <!-- Profile -->
                        <li class="flex">
                            <div class="iconSz24">
                                <img src="~/ASSETS/user.png" alt="Profile icon">
                            </div>
                            <a class="blueTxt capitalize" asp-controller="Student" asp-action="Profile">profile</a>
                        </li>

                        <!-- Announcements -->
                        <li class="flex">
                            <div class="iconSz24">
                                <img src="~/ASSETS/announcement.png" alt="Announcements icon">
                            </div>
                            <a class="blueTxt capitalize" asp-controller="Announcements" asp-action="Index">announcements</a>
                        </li>

                        <!-- Course Registration -->
                        <li class="flex">
                            <div class="iconSz24">
                                <img src="~/ASSETS/courseReg.png" alt="Course registration icon">
                            </div>
                            <a class="blueTxt capitalize" asp-controller="Course" asp-action="Registration">course registration</a>
                        </li>

                        <!-- View Results -->
                        <li class="flex">
                            <div class="iconSz24">
                                <img src="~/ASSETS/calendar.png" alt="Results icon">
                            </div>
                            <a class="blueTxt capitalize" asp-controller="Results" asp-action="Index">view results</a>
                        </li>

                        <!-- Pay Fees -->
                        <li class="flex">
                            <div class="iconSz24">
                                <img src="~/ASSETS/note-text.png" alt="Pay fees icon">
                            </div>
                            <a class="blueTxt capitalize" asp-controller="Payments" asp-action="Fees">pay fees</a>
                        </li>

                        <!-- Transfer Form -->
                        <li class="flex">
                            <div class="iconSz24">
                                <img src="~/ASSETS/calendar.png" alt="Transfer icon">
                            </div>
                            <a class="blueTxt capitalize" asp-controller="Forms" asp-action="Transfer">transfer form</a>
                        </li>

                        <!-- SIWES Placement -->
                        <li class="flex">
                            <div class="iconSz24">
                                <img src="~/ASSETS/note-text.png" alt="SIWES icon">
                            </div>
                            <a class="blueTxt capitalize" asp-controller="SIWES" asp-action="Placement">siwes placement</a>
                        </li>

                        <!-- Submit Complaint -->
                        <li class="flex">
                            <div class="iconSz24">
                                <img src="~/ASSETS/note-text.png" alt="Complaints icon">
                            </div>
                            <a class="blueTxt capitalize" asp-controller="Complaints" asp-action="Create">submit complaint</a>
                        </li>

                        <!-- Lecturer Review -->
                        <li class="flex">
                            <div class="iconSz24">
                                <img src="~/ASSETS/note-text.png" alt="Lecturer review icon">
                            </div>
                            <a class="blueTxt capitalize" asp-controller="Reviews" asp-action="Lecturers">lecturer review</a>
                        </li>

                        <!-- Log Out -->
                        @* <li class="flex"> *@
                        @*     <div class="iconSz24"> *@
                        @*         <img src="~/ASSETS/logout.png" alt="Logout icon"> *@
                        @*     </div> *@
                        @*     <a class="blueTxt capitalize" asp-controller="Account" asp-action="Logout">log out</a> *@
                        @* </li> *@

                        <li class="flex">
                            <div class="iconSz24">
                                <img src="~/ASSETS/logout.png" alt="Logout icon">
                            </div>
                            <form asp-controller="Account" asp-action="Logout" method="post" class="logoutForm">
                                <button type="submit" class="blueTxt capitalize btn-link">log out</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="dashboard">
            <div class="panel flex">
                <div class="schoolNameLogo flex center">
                    <div class="logo">
                        <img src="/ASSETS/logo.png" alt="">
                    </div>
                    <h1 class=" blueTxt capitalize">university of yeshua</h1>
                </div>

                <div class="panelIcons flex center">
                    <div class="notificationIcon iconSz36"><img src="/ASSETS/notifications.png" alt="icon"></div>
                    <div class="settingsIcon iconSz36"><img src="/ASSETS/settings.png" alt="icon"></div>
                </div>
            </div>

            <div class="overviewPanel">
                <div class="navigation flex">
                    <div class="navigationName flex">
                        <h6 class="capitalize lgtBlueTxt">profile</h6>
                        <div class="arrowIcon"><img src="/ASSETS/arrow.png" alt="icon"></div>
                        <h6 class="capitalize whtTxt">overview</h6>
                    </div>

                    <div class="course">
                        <h6 class="capitalize whtTxt">Programme: <span>B.Sc Communication And Information Science</span></h6>
                    </div>
                </div>


                <div class="userOverview">
                    <div class="userDetails flex center">
                        <h1 class="capitalize whtTxt">Welcome, Makkiya Dunnis Samuel</h1>

                        <div class="lastVisited">
                            <h6 class="capitalize whtTxt">Wed July 02 2025</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dashboardContents">

                <div class="userProfileOverview flex">
                    <div class="profileImg">
                        <img src="/ASSETS/profile.png" alt="">
                    </div>

                    <div class="profileInfo">
                        <div class="info flex column">
                            <p>Matriculation Number</p>
                            <div class="infoDiv flex center"><p class="blueTxt">20GHUJ099</p></div>
                        </div>
                        <div class="info flex column">
                            <p>Department</p>
                            <div class="infoDiv flex center"><p class="blueTxt capitalize">computer science</p></div>
                        </div>
                        <div class="info flex column">
                            <p>Level</p>
                            <div class="infoDiv flex center"><p class="blueTxt">400 Level</p></div>
                        </div>
                    </div>
                </div>

                <div class="userPrimaryInfo">
                    <h2 class="capitalize blueTxt">information</h2>
                    <div class="primaryInfoContent">
                        <h4 class="blueTxt capitalize">bio data</h4>
                        <div class="lbp flex">
                            <div class="labels flex column">
                                <label class="capitalize">title</label>
                                <label class="capitalize">title</label>
                                <label class="capitalize">title</label>
                                <label class="capitalize">title</label>
                                <label class="capitalize">title</label>
                                <label class="capitalize">title</label>
                                <label class="capitalize">title</label>
                                <label class="capitalize">title</label>
                                <label class="capitalize">title</label>
                            </div>

                            <div class="Ps flex column">
                                <p class="capitalize blueTxt">mr</p>
                                <p class="capitalize blueTxt">mr</p>
                                <p class="capitalize blueTxt">mr</p>
                                <p class="capitalize blueTxt">mr</p>
                                <p class="capitalize blueTxt">mr</p>
                                <p class="capitalize blueTxt">mr</p>
                                <p class="capitalize blueTxt">mr</p>
                                <p class="capitalize blueTxt">mr</p>
                                <p class="capitalize blueTxt">mr</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nextOfKinInfo">
                    <h2 class="capitalize blueTxt">next of kin information</h2>
                    <div class="nextOfKinInfoContent">
                        <h4 class="blueTxt capitalize">bio data</h4>
                        <div class="lbp flex">
                            <div class="labels flex column">
                                <label class="capitalize">title</label>
                                <label class="capitalize">title</label>
                                <label class="capitalize">title</label>
                                <label class="capitalize">title</label>
                                <label class="capitalize">title</label>
                            </div>

                            <div class="Ps flex column">
                                <p class="capitalize blueTxt">mr</p>
                                <p class="capitalize blueTxt">mr</p>
                                <p class="capitalize blueTxt">mr</p>
                                <p class="capitalize blueTxt">mr</p>
                                <p class="capitalize blueTxt">mr</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bankDetailsInfo">
                    <h2 class="capitalize blueTxt">bank details</h2>
                    <div class="bankDetailsInfoContent">
                        <h4 class="blueTxt capitalize">bio data</h4>
                        <div class="lbp flex">
                            <div class="labels flex column">
                                <label class="capitalize">title</label>
                                <label class="capitalize">title</label>
                                <label class="capitalize">title</label>
                                <label class="capitalize">title</label>
                                <label class="capitalize">title</label>
                            </div>

                            <div class="Ps flex column">
                                <p class="capitalize blueTxt">mr</p>
                                <p class="capitalize blueTxt">mr</p>
                                <p class="capitalize blueTxt">mr</p>
                                <p class="capitalize blueTxt">mr</p>
                                <p class="capitalize blueTxt">mr</p>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

</body>
</html>